@import url(global.css);

hr {
  position: absolute;
  width: 105px;
  top: 30px;
  right: 138px;
}

#subtitulo-filmes {
  font-size: 60px;
  margin: 0;
  padding: 30px 20px;
  font-weight: bold;
  color: var(--cor-texto);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.filmes {
  display: grid;
  grid-template-rows: 500px 1fr;
  justify-items: center;
  gap: 10px;
  text-decoration: none;
}

.filmes p {
  margin: 0;
  color: var(--cor-texto);
  font-weight: normal;
  font-size: 25px;
  justify-self: start;
}

.filmes div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
}

.titulo-filme {
  grid-column: 1/-1;
  padding-left: 29px;
}

.descricao-filme {
  padding-left: 29px;
}

span {
  justify-self: end;
  padding-right: 29px;
}

.imagens {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.imagens:hover {
  transform: scale(1.05);
}

.linha-serie{
  position: absolute;
  width: 105px;
  top: 30px;
  left: 280px;
}