@import url(global.css);

hr{
    position: absolute;
    width: 105px;
    top: 30px;
    right: 283px;
}

#top3{
    font-size: 60px;
    margin: 0;
    padding: 30px 20px;
    font-weight: bold;
    color: white;
}

.top{
    display: flex;
    gap: 210px;
    justify-content: center;
}

.filmesTop3 > a{
    text-decoration: none;
    transition: transform 0.3s ease-in-out;

}

.filmesTop3  img{
    position: relative;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    height: 258px;
    width: 420px;
    border-radius: 10px;


}

.filmesTop3 > img:hover{
    transform: scale(1.05);
}

.filmesTop3{
    position: relative;
}

.filmesTop3  h1{
    position: absolute;
    margin: 0;
    color: white;
    font-size: 250px;
    font-weight: bold;
    top: -41px;
    left: -80px;
}

.filmesTop3 h2{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 35px;
}

.filmesRecentes{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.filmesRec > a{
    text-decoration: none;
}

.filmesRec > img{
    transition: transform 0.3s ease-in-out;
}

.filmesRec > img:hover{
    transform: scale(1.05);
}

.filmesRec{
    padding:0px 20px 0px 110px;
    position: relative;
}


.filmesRec h1{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 210px;
    font-weight: bold;
    top: -30px;
    left: 40px;
}

.filmesRec  img{
    width: 176px;
    height: 180px;
    position: relative;
    border-radius: 10px;
    object-fit: cover; 
    object-position: center;
}

.filmesRec h2{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

.seta img{
    position: absolute;
    width: 20px;
    top: 77px;
    left: 1875px;
    opacity: 0;
    transition: opacity 100s ease-in-out;
}

.seta img:hover{
    opacity: 1;

}


.seriesRecentes{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.seriesRec > a{
    text-decoration: none;
}

.seriesRec{
    padding:0px 0px 0px 110px;
    position: relative;
    width: 175px;
    height: 220px;
}


.seriesRec h1{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 210px;
    font-weight: bold;
    top: -30px;
    left: 40px;
}

.seriesRec  img{
    width: 176px;
    height: 180px;
    position: relative;
    border-radius: 10px;
    object-position: center;
}

.seriesRec h2{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

.animacao > img{
    transition: transform 0.3s ease-in-out;
}

.animacao > img:hover{
    transform: scale(1.10);
}