:root{
    --principal: #270133;
    --menu: #130119;
    --sinopse: #d5c3c1;
}

@font-face {
    font-family:'logo' ;
    src: url(/assets/fonte/Germania_One/GermaniaOne-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'geral' ;
    src:url(/assets/fonte/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0 auto;
    background-color: var(--principal);
    max-width: 1900px;
    font-family:geral;
    animation: 0.3s ease-in forwards;
    
}

.menu{
    background-color: var(--menu);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    height: 60px;
}

.container-botoes-menu{
    font-size: 25px;
    position: relative;
    display: flex;
    gap: 35px;
    grid-column-start:3;
}

.botoes-menu {
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 105px;
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
}

.botoes-menu:hover {
    transform: scale(1.1);
}

.icones-botoes {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}


.botoesDoMenu > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 105px;
}

.botoesDoMenu > a:hover{
    transition: 0.5s ease-in-out;
    color: rgba(255, 255, 255, 0.548);
}


.botaoDoPerfil{
    position: relative;
    display: flex;
    width: 100px;
    padding-left: 20px;
    align-items: center;
    grid-column-start: 5;
}

hr{
    position: absolute;
    width: 105px;
    top: 30px;
    right: 283px;
}

.lupa{
    background-color: var(--principal);
    border: none;
    padding: 10px 5px 10px;
    border-radius: 23px;
    color: white;
}

input{
    font-family:geral;
    font-weight: bold;
    font-size: 18px;
}

input::placeholder{
    display: flex;
    color:#ffffff88;
    padding-left: 20px;

}

.botaoDoPerfil > h2{
    position: absolute;
    color: rgba(255, 255, 255, 0.402);
    padding: 6px 50px;
    background-color: #2a0336;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    
}

#botaoPerfil{
    position: absolute;
    left: 260px;
}

.botaoDoPerfil > h2:hover{
    background-color: rgba(255, 255, 255, 0.254);
    transition: 0.5s ease-in-out;
    color: white;
}

#perfil{
    position: absolute;
    width: 60px;
    top: -13px;
    left: 290px ;
}
.filmeDestaque{
    position: relative;
}

.filmeDestaque  img{
    width: 1900px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
}

#logoDescricao{
    position: absolute;
    top: 250px;
    padding: 30px;
    font-size: 40px;
    font-family: logo;
    color: white;
    font-weight: normal;
}

#originalDescricao{
    position: absolute;
    color: white;
    top: 288px;
    left: 165px;
    padding: 30px;
}

#tituloDescricao{
    position: absolute;
    color: white;
    padding: 30px;
    top: 305px;
    font-size: 40px;
}

#lancamento{
    position: absolute;
    color: white;
    padding: 30px;
    top: 375px;

}

#classificacao{
    position: absolute;
    width: 27px;
    top: 424px;
    left: 85px;

}

#sinopse{
    position: absolute;
    top: 390px;
    color: #ffffffc5;
    padding: 30px;
    font-size: 30px;
    width: 1100px;
}

#irFilme{
    position: absolute;
    top: 630px;
    left: 30px;
    text-decoration: none;
    color: white;
    background-color: #ffffff46;
    border-radius: 16px;
    padding: 15px 35px;
    font-size: 35px;
    align-self: center;
    font-weight: bold;
}

#irFilme:hover{
    background-color: #270133;
    transition: 0.3s ease-in-out;

}

#top3{
    font-size: 60px;
    margin: 0;
    padding: 30px 20px;
    font-weight: bold;
    color: white;
}

.top{
    display: flex;
    gap: 210px;
    justify-content: center;
}

.filmesTop3 > a{
    text-decoration: none;
    transition: transform 0.3s ease-in-out;

}

.filmesTop3  img{
    position: relative;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    height: 208px;
    width: 338px;
    border-radius: 10px;


}

.filmesTop3 > img:hover{
    transform: scale(1.05);
}

.filmesTop3{
    position: relative;
}

.filmesTop3  h1{
    position: absolute;
    margin: 0;
    color: white;
    font-size: 250px;
    font-weight: bold;
    top: -41px;
    left: -80px;
}

.filmesTop3 h2{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 35px;
}

.filmesRecentes{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.filmesRec > a{
    text-decoration: none;
}

.filmesRec > img{
    transition: transform 0.3s ease-in-out;
}

.filmesRec > img:hover{
    transform: scale(1.05);
}

.filmesRec{
    padding:0px 20px 0px 110px;
    position: relative;
}


.filmesRec h1{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 210px;
    font-weight: bold;
    top: -30px;
    left: 40px;
}

.filmesRec  img{
    width: 176px;
    height: 180px;
    position: relative;
    border-radius: 10px;
    object-fit: cover; 
    object-position: center;
}

.filmesRec h2{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

.seta img{
    position: absolute;
    width: 20px;
    top: 77px;
    left: 1875px;
}

.seriesRecentes{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.seriesRec > a{
    text-decoration: none;
}

.seriesRec{
    padding:0px 0px 0px 110px;
    position: relative;
    width: 175px;
    height: 220px;
}


.seriesRec h1{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 210px;
    font-weight: bold;
    top: -30px;
    left: 40px;
}

.seriesRec  img{
    width: 176px;
    height: 180px;
    position: relative;
    border-radius: 10px;
    object-position: center;
}

.seriesRec h2{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

.animacao > img{
    transition: transform 0.3s ease-in-out;
}

.animacao > img:hover{
    transform: scale(1.10);
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 40px;
    background-color: #130119;
    color: white;
    font-size: 25px
}